<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2">
    <a class="navbar-brand" [routerLink]="['/inicio']">Blog Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li> 
        <li class="nav-item dropdown"> 
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Caregorias
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
              <a class="dropdown-item" [routerLink]="['/categoria', c.id]" *ngFor="let c of categories">{{c.name}}</a>  
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" >About</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']" >Registro</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <li>
          <div class="avatarask">
            <img src="{{avatarUserName}}" alt="AvatarIMG">
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name + ' '+identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/post-new']">Crear entrada</a>
            <a class="dropdown-item" [routerLink]="['/category-new']">Crear categoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/perfil/', identity.sub]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/user-edit']">Ajustes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
          </div>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/inicio']">Disabled</a>
        </li> -->
      </ul> 
    </div>
  </nav>

  <router-outlet></router-outlet>

  <hr>
  <div class="content">
    <div class="row">
      <div class="col-12 d-flex justify-content-center text-secondary">
        TxT
      </div>
    </div>
  </div>
  <hr>

</div>