
<div class="row mt-2">
    <div class="col-md-12"> 
        <h2>{{title}}</h2>
        <hr>
        <div class="alert alert-success" *ngIf="status == 'success'">
            {{msg}}
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Error, reintente mas tarde.
        </div>
        <form class="col-md-6 ml-0 pl-0" #EditarUsuarioForm="ngForm" (ngSubmit)="onSubmit(EditarUsuarioForm)">
            <div class="form-group">
                <p>
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" 
                    #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
                    <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                        El nombre no es válido
                    </small>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="surname">Apellidos</label>
                    <input type="text" class="form-control" name="surname" id="surname" 
                    #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">
                    <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                        Los apellidos no son válidos
                    </small>
                </p>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"name="email"class="form-control"
                #email="ngModel"[(ngModel)]=" user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <small *ngIf="!email.valid && email.touched"class="invalid-feedback d-block">
                     El correo no es válido
                </small>
           </div> 
           <div class="form-group"> 
                    <label for="descripcion">Biografía</label> 
                    <textarea [froalaEditor]="options" class="form-control" name="descripcion" id="descripcion" 
                     [(froalaModel)]="user.descripcion" required
                     cols="30" rows="10"></textarea>  

            </div>
           <div class="form-group">
                    <label for="image">Imagen</label>
                    <img *ngIf="avatarUser" src="{{avatarUserName}}" alt="AvatarIMG" width="80">
                    <angular-file-uploader
                        [config]="afuConfig"
                        [resetUpload]=resetVar 
                        (ApiResponse)="AvatarUpload($event)">
                    </angular-file-uploader>
            </div>
            <p>
                <input type="submit" value="Registrar" class="btn btn-success"  >
            </p>
        </form>
    </div>
</div>